<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout1">
<head>
<title>Corporate Health</title>
</head>

<body>
	<section layout:fragment="content">
	<br/><br/><br/>
	<div class="container">
        <div class="row animated fadeInUp">
            <div class="col-md-4">
                <img class="img-responsive" th:src="@{/resources/img/corporate.jpg}" alt="Partner With Us" />
            </div>
            
            <div class="col-md-8">
                <h3>Corporate Health Solutions</h3>

					<p>We understand the challenges that employers in today’s high stress work environment 
					face when they want to provide high-quality health coverage for their employees in the 
					most cost-effective manner. </p>
					
					<p>Our endeavor is to keep your employees healthy, and away from the hospital. We offer 
					a wide range of healthcare solutions for our corporate clients, including:</p>
					
					<p>On-Site Doctor Services</p>
					
					<p>Doctor-on-call Service</p>
					
					<p>Health Checks</p>
					
					<p>Health Education for Employees</p>
					
					<p>Health Risk Analysis for your Organization</p>
					
					<p>Customized Solutions</p>
					<p>Every organization has its specific healthcare requirements and resources. And we recognize that. 
					You can reach out to us to discuss your particular needs and rest assured we will offer you a 
					customized solution. Feel free to reach out to us on <address >
					+91 9014994199<br/> or e-mail us at
					<a class="address" href="mailto:info@astrahealthcare.in">info@astrahealthcare.in</a> 
					
					</address></p>
					

            </div>
        </div>
    </div>

	</section>

</body>
</html>