<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout1">
<head>
<title>Diagnostics</title>
</head>

<body>
	<section layout:fragment="content">
	<br/><br/>
	<div class="container animated fadeInUp">
        <div class="row ">
        <div class="col-md-8 ">
               <h3 >Diagnostics</h3>
               <p>The modern lives we lead are fraught with a number of traps that make us 
               ignore the most important machine we live with everyday; our bodies. It becomes
                very easy to remain in the traps that prevent us from entering a state of mind 
                where we feel happy about how our bodies feel on the outside and on the inside. 
                We find that most people don’t think of their body as something that should be 
                in the best possible condition they can keep it.</p>
                <p>The biggest modern risk we have is sedentary lifestyle. It takes us away from
                 being active on our feet. To cope for the energy imbalance in our bodies, we end 
                 up eating food that is unhealthy for us. There could be many other causes for 
                 illnesses to develop which should be checked for regularly. Very little is 
                 understood about the value of getting yourself a physical check up but the ultimate
                  help given to the patient is in the form of early diagnoses of preventable diseases
                   which help all our patients to live fuller lives.</p>
			<p>This is where we at Astra Diagnostics can help with services ranging from a 
			specific health checkup to a complete health checkup. We understand that people are 
			not ready to admit when something is going wrong in their body. People want to ignore
			 their health and fight it on their own until something is seriously wrong. By that
			  time, it could be too late and patients regret missing a chance to get a preventive
			   health checkup.</p>
                                     
            </div>
            <div class="col-md-4 ">
            <img class="img-responsive" th:src="@{/resources/img/diagnostics.jpg}" alt="clinic" />
                
            </div>
            
            
        </div>
    </div>
   
	</section>

</body>
</html>