<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout1">
<head>
<title>Partner With Us</title>
</head>

<body>
	<section layout:fragment="content">
	<br/><br/><br/>
	<div class="container">
        <div class="row">
            <div class="col-md-4">
                <img class="img-responsive" th:src="@{/resources/img/us.png}" alt="Partner With Us" />
            </div>
            
            <div class="col-md-8">
                <h3 class="animated bounce">Partner With Us</h3>
                <P>If you are an entrepreneur or a laboratory which wishes to lean to one of the brand – 
                to earn better returns in Clinics or clinical chemistry business you can register here. 
                Having a partnership with trusted brand helps to earn better good will from the market.</P>

				<h4>Advantages</h4>
				
				<P>Healthcare Industry: best to start business
				Fast growing diagnostic Industry. Promising future
				Quick turnaround time in processing and reporting
				An exhaustive induction training by the company (optional)
				Comprehensive beginners manual
				Handholding till completion of first 1000 samples</P>

            </div>
        </div>
    </div>

	</section>

</body>
</html>