<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout1">
<head>
<title>Pharmacy</title>
</head>

<body>
	<section layout:fragment="content">
	<br/><br/><br/>
	<div class="container animated fadeInUp">
        <div class="row">
        <div class="col-md-4">
                <img class="img-responsive" th:src="@{/resources/img/pharmacy.jpg}" alt="Pharmacy" />
            </div>
            
        <div class="col-md-8">
                <h3>Pharmacy</h3>
                
                   <p>Astra Pharmacy aims to change the way you interact with your neighborhood
                    chemist. Started by an enthusiastic team of professionals, we realized that
                     there was scope to improve on the current model of pharmacies by offering 
                     additional services and professionalism to benefit the customer experience.
                     Along with stocking over 8,000 different medicines, we want to make Astra 
                     Pharmacy a one stop shop for all your Medical, dietary, personal, and baby 
                     needs.</p>
					<p>We noticed that in today’s fast-paced world, people frequently forget to
					 order their medicines, often having to miss a dose in process. This gave birth
					 to the idea of our Intelligent Subscription Service, which removes the hassles 
					 of dealing with your local chemist. Our free service will add your personal and 
					 medical details to our confidential database, and provide you with monthly or 
					 fortnightly delivery of all your household medicinal needs - without ever having 
					 to call us.</p>
					<p>It is our promise to provide you with genuine products and a no questions asked 
					return policy, no matter where you are situated in Hyderabad</p>


            </div>
            
            
        </div>
    </div>

	</section>

</body>
</html>