<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout1">
<head>
<title>Pre Employment Checks</title>
</head>

<body>
	<section layout:fragment="content">
	<br/><br/><br/>
	<div class="container animated fadeInUp">
        <div class="row">
           
            
            <div class="col-md-8">
            <h3>Pre Employment Checks</h3>
                <p>Pre-employment check-ups are required to cover occupational and safety hazards 
                at workplace and ensure that the selected candidate is medically fit for the job. – e.g.: 
                a person with TB in a call center, a cook with typhoid in a restaurant, an asthmatic as 
                an AC mechanic or a color blind person in a clothing store, etc</p>
				<h4>What do they consist of?</h4>
				<p>Complete Medical / Physical Examination</p>
				<p>Laboratory Investigations</p>
				<p>Complete Blood Count (26 parameters) </p>
				<p>Blood Sugar Fasting</p>
				<p>Urine Routine, Microscopy</p>
				<p>Erythrocyte Sedimentation Rate (ESR) </p>
				<p>Blood Group , Rh Factor</p>
				<p>X-RAY Chest</p>
				<p>Optional Tests</p>
				<p>ECG</p>
				<p>HIV (For AIDS) </p>
				<p>SGPT (For Liver) </p>
				<p>Cholesterol (Heart) </p>
				<p>HBsAg (Hepatitis) </p>
				<p>Creatinine (Kidney) </p>
				<h4>Why Pre employment checkups? </h4>
				<h5>Safety </h5>
				<p>New applicant should be free from medical conditions that could result in sudden 
				incapacitation that can lead to an accident, especially, for health and safety sensitive 
				jobs. Examples of such jobs are driving, piloting, etc. </p>
				<h5>Health</h5>
				<p>Pre-employment is a means to establish baseline health data against which future health 
				status of the employee be compared. It is also a means of identifying existing medical 
				conditions, including contagious diseases which could be adversely affected by occupational 
				exposures. </p>
				<h5>Productivity and Efficiency</h5>
				<p>Pre-employment medical examination is the means by which employers can satisfy 
				themselves that new recruits are free from medical conditions which can affect the productivity 
				of the new recruits once they are employed. </p>
				<h5>Cost</h5>
				<p>The cost of medical treatment is escalating. Employers who provide coverage on medical care 
				especially the ones, who provide full, unlimited coverage, are concerned on this. They are not 
				willing to employ job applicants who suffer from medical conditions that have high medical cost 
				potential. It is a good practice if measures are taken at protecting co-workers as well as the 
				public from becoming infected through direct contact with an infected food handler or by means 
				of contaminated food handled by such a person. </p>
				<h4>Other pre-employment Check Ups</h4>
				<p>Lists of test to be done in persons with open sores, ulcers, pustules: </p>
				<p>PUS Culture</p>
				<p>Nasal Swabs</p>
				<p>Other diseases that need to be checked prior to employment and later at 6 months interval are: </p>
				<p>Chest and respiratory diseases like TB which could pose a hazard to co-workers</p>
				<p>Blood-Borne Infections like HIV, Hepatitis B</p>
				<p>Returning to work after an illness</p>
				<p>In most cases of infection, bacteria and viruses can still be found in someone’s feces after 
				symptoms stop. It is therefore important that managers continue to exclude food handlers for a 
				period of time after this. 48 hours is the recommended length of time. </p>
				<p>Extra care should be taken over personal hygiene practices on return to work though, especially hand washing. </p>
				<p>Lists of test to be done in case of person returning from a diarrhea illness: </p>
				<p>Stool Routine</p>
				<p>Stool Culture (3 consecutive stool samples taken 48 hours apart in case of cholera, 
				typhoid and dysentery should be tested negative)
				Widal Test</p>

            </div>
            <div class="col-md-4">
                <img class="img-responsive" th:src="@{/resources/img/PreEmp.jpg}" alt="Home Health" />
            </div>
        </div>
    </div>

	</section>

</body>
</html>